<a href="https://colab.research.google.com/github/wnsmir/DSBA5/blob/main/Day1%ED%8C%8C%EC%9D%B4%EC%8D%AC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

In [ ]:
random.random() # 0~1사이의 임의의 실수값을 return

0.27031757268095635

In [ ]:
random.randint(1,3)

2

In [ ]:
random.randrange(7) # 0~6 까지의 임의의 정수를 return

5

In [ ]:
lst = [10, 20, 30, 40, 50]
random.choice(lst)

40

In [ ]:
random.sample(lst, 4)

[20, 40, 10, 50]

In [ ]:
random.choices(lst, k=4) # sample과 다르게 중복을 허용함

[10, 50, 20, 30]

In [ ]:
score = int(input("정수를 입력하시오."))
if score >= 90:
  print("축하합니다. A학점 입니다")

정수를 입력하시오.90
축하합니다. A학점 입니다

In [ ]:
num = int(input("정수를 입력하시오."))
if num > 0:
  print("양수입니다.")
elif num < 0:
  print("음수입니다.")
else:
  print("0입니다.")

정수를 입력하시오.0
0입니다.

In [ ]:
# 반복문
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,6,2):
  print(i)

1
3
5

In [ ]:
# continue
st = " I love Python Programming"
for ch in st:
  if ch in ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']:
    continue
  print(ch, end='')

  lv Pythn Prgrmmng

In [ ]:
# 함수
def calculate_area(radius):
  return 3.14 * radius ** 2
  return area

In [ ]:
calculate_area(5.0) + calculate_area(10.0)

392.5

In [ ]:
def get_sum(start, end):
  sum = 0
  for i in range(start, end+1):
    sum += i
  return sum

In [1]:
numbers = [1, 2, 3, 4, 5]
numbers.sort() # 오름차순
numbers

[1, 2, 3, 4, 5]

In [2]:
numbers.sort(reverse=True) # 내림차순
numbers

[5, 4, 3, 2, 1]

In [3]:
numbers1 = sorted(numbers)
numbers1

[1, 2, 3, 4, 5]

In [7]:
a1 = [1,2,3,4,5]
a2 = []
for i in a1:
  a2.append(i**2)
print(a2)
a3 = [i**2 for i in a1]
print(a3)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [10]:
res = []
for i in range(1, 11):
  i = i**2
  if i%2 == 0:
    res.append(i)
print(res)

[4, 16, 36, 64, 100]

In [9]:
res1 = [i**2 for i in range(1,11) if i%2 == 0]
print(res1)

[4, 16, 36, 64, 100]

In [11]:
from pickle import TUPLE1
# 튜플
t1 = (10,20,30)
l1 = [10,20,30]
t1[0] = 100
l1[0] = 100
print(t1)
print(l1)

TypeError: 'tuple' object does not support item assignment

In [12]:
#딕셔너리 (dict) : value와 key의 쌍으로 이루어진 data type
phone_book = {}
phone_book['홍길동'] = '010-1234-5678'
phone_book['김철수'] = '010-2345-6789'
phone_book['이영희'] = '010-3456-7890'
phone_book

{'홍길동': '010-1234-5678', '김철수': '010-2345-6789', '이영희': '010-3456-7890'}

In [13]:
phone_book['홍길동']

'010-1234-5678'

In [14]:
phone_book.keys()

dict_keys(['홍길동', '김철수', '이영희'])

In [15]:
phone_book.values()

dict_values(['010-1234-5678', '010-2345-6789', '010-3456-7890'])

In [16]:
phone_book.items()# 묶어서 list형태로 표시해줌

dict_items([('홍길동', '010-1234-5678'), ('김철수', '010-2345-6789'), ('이영희', '010-3456-7890')])

In [20]:
#람다함수 : 익명함수
print("100과 200의 합 : ",(lambda x, y: x+y)(100,200))

100과 200의 합 :  300

In [21]:
t = (100, 200, 300)
(lambda x : x[0])(t)

100